@font-face {
  font-family: 'Radnika';
  src: url('Radnika-Medium.otf'); 
}

.container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(10, 4rem) auto; 
    grid-gap: 0.5rem;
    box-sizing: border-box;
    height: 100vh;
}

.container p {
  font-family: 'Radnika';
  font-size: 1.5rem;
  line-height: 2em;
  margin-bottom: 1rem;
}

.container h1 {
  font-family: 'Radnika';
  font-size: 6rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

img {
    width: 100%;
    height: auto;
}

.intro {
  grid-column: 4/14;
  grid-row: 4;
}


.profile {
    background-size: cover;
    background: url('me.jpg') no-repeat;
}


.projectDetails1 {
}

.projectImg1 {
    background-image: url('http://placehold.jp/640x480.png');
    background-repeat: no-repeat;
    background-size: cover;
}
